.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #9ACFCF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.navbar-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logout-btn {
  margin: 50px;
  background-color: crimson;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
